<!-- served from route in server.js -->


<!DOCTYPE html>
<html>
  <head>
    <title>meta-file | A File Metadata Microservice</title>
    <meta name="description" content="A File Metadata Microservice">
    <link id="favicon" 
          rel="icon" 
          href="https://cdn.glitch.com/6b4449ab-3e37-4356-8957-6a37c836afe2%2Ffavicon.ico?1502071047338" 
          type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        meta-file | A File Metadata Microservice
      </h1>
    </header>

    <main>
      <h3>
        Get your file metadata in json
      </h3>
      <section class="sub-section">
        <p>
          Post a file in a FormData object to API endpoint 
          <span class="short-code">https://meta-file.glitch.me/filedata</span>
          for a json response containing the file metadata.
        </p>  
        <p class="bold">Test Harness</p>
        <p>
          This test harness form can be used to post files to the API 
          endpoint and view a sample json response without buffer data.
        </p>
      </section>
      
      <form id="file-analyze-form" enctype="multipart/form-data">
        <input id="file-input" type="file" name="userFile">
        <button type="submit" name="submit">Upload File</button>
      </form>
      <section id="output-container">
        <!-- Test harness output injected here -->
      </section>
    </main>

    <footer>
      <a href="https://github.com/IMBurbank/meta-file">
        Github Repo
      </a>
    </footer>

    <!-- Scripts -->
    <script src="/client.js"></script>

  </body>
</html>
