/* styles */


* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1, h3, .bold {
  font-weight: bold;
  color: #0caf50;
}

p {
  max-width: 600px;
  margin: 0 0 .25em 1em;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #fffcf4;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  min-width: 200px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: .9rem;
}

button {
  margin: 5px 2px 2px 0;
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px #4f493c;
  cursor: pointer;
}

button:hover {
  background-color: #7ee5b5;
}

button:active {
  margin: 7px 0 0 2px;
  box-shadow: none;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.sub-section {
  margin-left: .5rem;
}

.bold {
  margin: .5em 0;
  font-size: 1rem;
  font-weight: bold;
}

.short-code{
  background: #eff7f9;
}
